<div class="container my-5">
  <h1 class="my-2 text-center">Edit New Employee!</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form #form="ngForm" (ngSubmit)="updateEmployee()" class="border rounded p-4">
        <div class="form-group">
          <label for="id">ID</label>
          <input
            type="text"
            class="form-control"
            id="id"
            name="id"
            [(ngModel)]="employeeDetails.id"
            required
          />
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            [(ngModel)]="employeeDetails.name"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="employeeDetails.email"
            required
          />
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input
            type="tel"
            class="form-control"
            id="phone"
            name="phone"
            [(ngModel)]="employeeDetails.phone"
            required
          />
        </div>
        <div class="form-group">
          <label for="salary">Salary</label>
          <input
            type="number"
            class="form-control"
            id="salary"
            name="salary"
            [(ngModel)]="employeeDetails.salary"
            required
          />
        </div>
        <div class="form-group">
          <label for="department">Department</label>
          <input
            type="text"
            class="form-control"
            id="department"
            name="department"
            [(ngModel)]="employeeDetails.department"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-3">
          Save
        </button>
        <button
  type="button"
  class="btn btn-danger ms-3 btn-block mt-3"
  (click)="deleteEmployee()"
>
  Delete
</button>

      </form>
    </div>
  </div>
</div>
